*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    background: linear-gradient(45deg, #07112f 40%, #ff3e68);
}
.all{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.all .c{
    position: relative;
    width: 350px;
    height: 500px;
    background-position: 0 -50px;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 20px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.c:hover{
    background-size: 105%;
}

.c:nth-child(1)::before{
    background: linear-gradient(58deg, #ff0d6a, #00fff2, #ff0d6a);
}
.c:nth-child(2)::before{
    background: linear-gradient(58deg, #ff0037, #00d3c8, #ff0037  );
}
.c:nth-child(3)::before{
    background: linear-gradient(135deg, #00fff2, #ff0aff);
}

.c:hover::before{
    width: 364px;
    height: 513px;
    border-radius: 20px;
    opacity: 1;
}

.c:nth-child(1){
    background-image: url(img/prof.jpg);
}
.c:nth-child(2){
    background-image: url(img/sk.jpg);
}
.c:nth-child(3){
    background-image: url(img/inn.jpg);
}
.c .b{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 0%;
    bottom: 0;
    z-index: 12;
    backdrop-filter: blur(5px);
    box-shadow: 0 -10px 10px rgba(0,0,0, 0.1);
    transition: .4s;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}
.c:hover .b{
    height: 30%;
    border-top: .5px solid rgba(255, 255, 255, 0.157);
}
.b h2{
    color: white;
    top: -60px;
    position: absolute;
    transition: .6s .3s;
    font-weight: 500;
}
.c:hover .b h2{
    top: 6px;
}
.b .rede{
    position: absolute;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}
.rede .s{
    color: white;
    position: relative;
    font-size: 25px;
    bottom: -90px;
    cursor: pointer;
    transition: .5s;
}
.c:hover .s:nth-child(1){
    bottom: -20px;
    transition-delay: .4s
}
.c:hover .s:nth-child(2){
    bottom: -20px;
    transition-delay: .6s
}
.c:hover .s:nth-child(3){
    bottom: -20px;
    transition-delay: .8s
}
.fa:hover{
    text-shadow: 0px 0px 3px #fff,
                 0px 0px 4px rgba(0, 214, 214, 0.979);
}
@media (max-width: 430px){
    body{
        transform: scale(.8)
    }
}
